body{
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
box-shadow:0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

.copy_right_footer{
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
}

.h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
}
img:hover{
    border-radius: 140px;
}